body {
    padding-bottom: 80px;
}
.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    border-top: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px 0;
}
.item {
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.item span {
    font-size: 30px;
    display: block;
}
.item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px;
    color: black;
}
