
.targetas {
    display: flex;
    gap: 100px;
    padding: 50px;
    justify-content: center;
    flex-wrap: wrap;
}
.produ {
    width: 400px;
    background-color: aqua;
    border-radius: 25px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 6px;
}
.produ h1 {
    background-color: gray;
    width: 100%;
    border-radius: 10px;
    padding: 50px;
    gap: 200px;
}
.produ p {
    font-weight: bold;
    padding: 15px;
    background-color: transparent;
    color: rgb(207, 12, 12);
    border-radius: 20px;
}
.produ h1:hover {
     transform: translateY(-10px);
    box-shadow: 0 8px 20px;
}
.produ button {
    margin-top: 25px;
    padding: 20px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #e63e00;
    cursor: pointer;
    transition: 0,3s;
    font-size: 20px;
}
.produ button:hover {
   background-color: red;
    transform: translateY(-10px);
    box-shadow: 0 8px 20px;
}