* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    line-height: 1.5;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: orangered;
    border-bottom: 1px solid #ddd;
}
.header h2 {
    font-size: 30px;
    margin: 0;
}
.icon {
    margin-left: 15px;
    font-size: 30px;
    cursor: pointer;
}
.card button {
    border: none;
    font-size: 50px;
    padding: 100px;
    max-width: 900px;
    margin: 10px auto;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}
