* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    line-height: 1.5;
}
header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: gray;
}
.logo {
    font-size: 24px;
}
.menu-btn {
    margin-left: auto;
}
.menu{
    display: none;
    flex-direction: column;
    background: #333;
    position: absolute;
    top: 60px;
    right: 0;
    width: 150px;
}
.menu a {
    color: white;
    padding: 10px;
    text-decoration: none;
}
.menu-btn{
    font-size: 24px;
    background: none;
    border: none;
}  
.menu.active {
    display: flex;
}  
header:hover {
     transform: translateY(-10px);
    box-shadow: 0 8px 20px;
}
.header h2 {
    font-size: 30px;
    margin: 0;
}
.icon {
    margin-left: 15px;
    font-size: 30px;
    cursor: pointer;
}
.banner {
    padding: 30px;
}
.banner:hover {
     transform: translateY(-10px);
    box-shadow: 0 8px 20px;
}
.hero {
    width: 100%;
    padding: 0 10px;
   background-color: rgb(10, 2, 2);
}
.hero button {
    background-color: rgb(160, 59, 59);
    border: none;
    font-size: 50px;
    padding: 100px;
    width: 100%;
    flex: 1;
    margin: 20px auto;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
    
}
